@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("./fonts/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono ExtraBold";
  src: url("./fonts/JetBrainsMonoNL-ExtraBold.ttf");
}

a {
  text-decoration: none;
}

:root {
  --white: rgb(255, 254, 233);
  --extraWhite: rgb(255, 255, 253);
  --gray: rgb(62, 62, 62);
  --darkGray: rgb(42, 42, 42);
}

// $white: rgb(255, 254, 233);
$white: rgb(246, 245, 239);
$extraWhite: rgb(248, 248, 240);

// $gray: rgb(62, 62, 62);
$gray: #131313;

// $darkGray: rgb(42, 42, 42);

$darkGray: rgb(0, 0, 0);
$blue: rgb(241, 241, 241);
$red: rgb(220, 78, 78);

body {
  background-color: $gray;
  margin: 0;
  width: 100%;
  font-family: "JetBrains Mono Bold", Courier, monospace;
  color: $white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.titleName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .clover {
    position: absolute;
    margin-right: 10px;
    // background-color: green;
    width: 30px;
    height: 35px;
    display: flex;
    margin-right: 260px;

    img {
      opacity: 0%;
      margin-left: -10px;
      height: 100%;
      rotate: -90deg;
      z-index: 2;
      filter: brightness(75%);
      transition: opacity 0.3s;

      &:hover {
        opacity: 70%;
      }
    }
  }
}

@keyframes clover {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 650px;
  }
}

.header1 {
  margin-top: 35px;
  font-size: 34px;
  margin-bottom: 45px;
}

.header2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.firstHeader2 {
  margin-bottom: 5px;
}

.projectHeader {
  margin-bottom: 25px;
}

.header3 {
  font-size: 1rem;
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
}
.lastLi {
  margin-bottom: 0px;
}

.paragraph {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 10px;
  line-height: 25px;
}

.card {
  // background-color: blue;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;

  // &:after {
  //   content: " ";
  //   position: absolute;
  //   width: 5px;
  //   margin-left: -15px;
  //   margin-top: 20px;
  //   height: 98%;
  //   height: relative;
  //   background-color: rgb(46, 174, 217);
  // }

  .newTextContainer {
    display: flex;
    width: 98%;
    position: relative;
    // background-color: rgb(217, 115, 115);

    .textButton {
      cursor: pointer;

      position: relative;
      font-size: 0.9rem;
      font-weight: bolder;
      text-decoration: underline;
      background-color: $white;
      color: black;

      padding-left: 3px;
      padding-right: 3px;
      padding-top: 1px;
      padding-bottom: 1px;

      transition-property: padding-left, padding-right, padding-top, box-shadow;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      // border-radius: 2px;
      margin-right: 7px;

      &:hover {
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 30%);
      }

      &:active {
        background-color: black;
        color: $white;
      }
    }

    .cardText {
      font-size: 0.9rem;
      line-height: 30px;
      padding-right: 2px;
    }

    .dropDown {
      display: flex;
      flex-direction: column;
      display: none;
      position: absolute;
      z-index: 6;
      top: 0;
      margin-top: 30px;
      width: 100%;
      height: 300px;
      // background-color: $white;
      background-color: rgb(0, 0, 0);

      .linkage {
        margin-top: -15px;
        width: 150px;
        height: 30px;
        z-index: 0;
        position: absolute;
        // background-color: blue;
      }

      .top {
        z-index: 1;
        width: 100%;
        height: 20%;
        background-color: rgb(27, 27, 27);
        border: solid 2px $white;
        // background-color: rgb(221, 220, 203);
        display: flex;
        // gap: 10px;
        align-items: center;
        justify-content: flex-start;
        border-radius: 3px 3px 0px 0px;

        a {
          text-decoration: none;
          // color: rgb(28, 28, 28);
          color: $white;
        }

        .gitHubLogo {
          cursor: pointer;
          z-index: 3;
          height: 40px;
          width: 40px;
          background-color: rgb(231, 229, 223);
          margin-left: 10px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;

          .projectIcon {
            filter: invert(0%);
            width: 70%;
          }

          &:hover {
            .projectIcon {
              filter: invert(100%);
            }
            background-color: rgb(17, 17, 17);
          }
        }

        .projectTitle {
          cursor: pointer;
          z-index: 3;
          font-size: 1.4rem;
          margin-left: 10px;
          &:hover {
            color: $blue;
            text-decoration: underline;
          }
        }
      }

      .bottom {
        width: 100%;
        height: 80%;
        display: flex;

        // background-color: $white;
        background-color: rgb(22, 22, 22);
        border: solid $white 2px;
        border-top: 0;
        border-radius: 0px 0px 3px 3px;

        .imageContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55%;
          height: 100%;
          // background-color: blue;
          border: 2px dashed rgb(192, 192, 177);
          border-left: 0;
          border-top: 0;
          border-bottom: 0;

          .projectImage {
            border-radius: 5px;
            width: 80%;
          }
        }

        .projTextContainer {
          width: 45%;
          height: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          // background-color: green;
          overflow-y: scroll;

          .readme {
            margin-top: 10px;
            margin-left: 8px;
            padding-right: 8px;
            // color: rgb(30, 30, 30);
            color: $white;
            font-size: 0.8rem;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    padding-left: 9px;
    padding-right: 9px;
  }

  .card {
    .newTextContainer {
      .dropDown {
      }
    }
  }
  .header1 {
    margin-left: -9px;
  }
}

#card4 {
  margin-bottom: 100px;
}

#card5 {
  margin-bottom: 0px;
}

.transition {
  transition-property: width, box-shadow, height, font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.theLine {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-size: 23px;
  width: 100%;
  margin-bottom: 15px;
}

.introBtns {
  line-height: 30px;
}

.introButton {
  cursor: pointer;

  position: relative;
  font-size: 0.9rem;
  font-weight: bolder;
  text-decoration: underline;
  background-color: $white;
  color: black;

  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;

  transition-property: padding-left, padding-right, padding-top, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 0px;

  &:hover {
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 60%);
  }

  &:active {
    background-color: black;
    color: $white;
  }
}

#typeText {
  width: 173px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.14em solid $blue;
  &:hover {
    border-right: 0.14em solid $red;
  }
}

.forwardType {
  width: 170px;
  animation: typing 1.5s steps(12) 1s 1 normal both, blink 1s steps(1) infinite;
}

.backspaceType {
  width: 170px;
  animation: typingBack 0.7s steps(7) 1s 1 normal both,
    blink 1s steps(1) infinite;
}

.reType {
  width: 85px;
  animation: reTyping 0.1s steps(1) 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  0% {
    width: 0px;
  }
  90% {
    width: 173px;
  }
  100% {
    width: 173px;
  }
}
@keyframes typingBack {
  0% {
    width: 171px;
  }
  90% {
    width: 73px;
  }
  100% {
    width: 73px;
  }
}
@keyframes reTyping {
  0% {
    width: 72px;
  }
  70% {
    width: 87px;
  }
  100% {
    width: 87px;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#icon-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon-row {
  display: flex;
  gap: 15px;
}

.icon {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 30%);
  transition: margin-top 0.2s ease-out, box-shadow 0.2s;

  .all-icons {
    transition: margin-top 0.5s;
  }

  .popUpMenu {
    display: none;
    position: absolute;
    z-index: 3;
    width: 160px;
    height: 30px;
    background-color: rgba(19, 19, 19, 95%);
    top: 0;
    margin-top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    // transition: margin-top 0.6s;
    font-size: 0.8rem;
    pointer-events: none;
    .popUpText {
      text-align: center;
      // font-size: 0.8rem;
    }

    .popUpTri {
      position: absolute;
      bottom: 0;
      margin-bottom: -6px;
      width: 0;
      height: 0;
      border-left: 9px solid rgba(0, 0, 0, 0%);
      border-right: 9px solid rgba(0, 0, 0, 0%);
      border-top: 7px solid rgba(19, 19, 19, 95%);
    }
  }

  &:hover {
    margin-top: -2px;
    box-shadow: rgba(0, 0, 0, 50%) 0px 5px 8px;
    .all-icons {
      margin-top: -5px;
      filter: drop-shadow(rgba(255, 255, 255, 50%) 0px 5px 2px) invert(100%);
    }
    // .popUpMenu {
    //   margin-top: -45px;
    // }
  }
}

.popUpAnimate {
  animation-name: popUpMenu;
  animation-duration: 0.4s;
}

.popDownAnimate {
  animation-name: popDownMenu;
  animation-duration: 0.2s;
}

@keyframes popUpMenu {
  0% {
    font-size: 0.1rem;

    margin-top: 10px;
    scale: 0%;
    // width: 50px;
    opacity: 0%;
  }
  100% {
    font-size: 0.8rem;

    margin-top: -45px;
    scale: 100%;
    opacity: 100%;
  }
}
@keyframes popDownMenu {
  0% {
    font-size: 0.8rem;
    margin-top: -45px;
    scale: 100%;
    opacity: 100%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    font-size: 0.1rem;
    margin-top: 10px;
    scale: 0%;

    opacity: 0%;
  }
}

.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-node,
.fa-react {
  font-size: 3.3rem;
}
.fa-html5 {
  color: rgb(201, 63, 63);
}
.fa-css3-alt {
  color: rgb(47, 47, 239);
}
.fa-js-square {
  color: rgb(229, 229, 95);
}
.fa-node {
  color: rgb(62, 125, 62);
}
.fa-react {
  color: rgb(61, 207, 240);
}
.photoshop,
.audition {
  height: 60px;
}
.ableton {
  width: 66px;
}
.premiere {
  height: 66px;
}
.rails {
  width: 45px;
}
.ruby {
  width: 52px;
}
.sass {
  width: 60px;
}
.tailwind {
  width: 60px;
}
.nextJs {
  width: 55px;
  filter: invert(30%);
}
.typescript {
  width: 60px;
}
.mui {
  width: 60px;
}
.prisma {
  width: 60px;
}
.graphql {
  width: 60px;
}

#card3 {
  position: relative;
  // background-color: blue;

  .companyLink {
    color: $white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .popUpList {
    position: relative;
    // background-color: green;

    .alertPopUp {
      cursor: default;
      display: flex;
      pointer-events: none;
      opacity: 0%;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      width: 100%;
      background-color: $red;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: -45px;
      transition: opacity 0.3s;

      .cardText {
        font-size: 0.8rem;
        margin-left: 3px;
        line-height: 15px;
      }
    }

    .redColor {
      color: $red;
    }

    .companyNameText {
      position: relative;
      cursor: default;
      // background-color: purple;
      // &:hover {
      //   color: $red;
      //   cursor: default;
      // }
    }
  }
}

@keyframes animationDown {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animationUp {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animationUpResume {
  0% {
    opacity: 0%;
    transform: scaleY(100%);
  }
  30% {
    transform: translateX(0%) scaleY(5%);
  }
  100% {
    opacity: 100%;
    transform: translateX(100%) scaleY(0%);
  }
}

@keyframes animationDownResume {
  0% {
    opacity: 0%;
    transform: translateX(-100%) scaleY(0%);
  }
  70% {
    transform: translateX(0%) scaleY(5%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
