@use '../styles/theme.scss' as *;

.drones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 650px;
    margin-bottom: 20px;
    position: relative;

    .backBtn {
        position: fixed;
        background-color: $white;
        left: 0;
        top: 0;
        display: flex;
        opacity: 0.6;

        .arrow {
            font-size: 15px;
            margin-left: -2px;
        }
    }
}

.blogImageContainer {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .blogImage {
        height: 250px;
    }
}