@use '../../../../styles/theme.scss' as *;

.hoverList {
    position: relative;

    .alertPopUp {
        cursor: default;
        display: flex;
        pointer-events: none;
        opacity: 0%;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        background-color: $red;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: -45px;
        transition: opacity 0.3s;

        .cardText {
            font-size: 0.8rem;
            margin-left: 3px;
            line-height: 15px;
        }
    }

    .redColor {
        color: $red;
    }

    .companyNameText {
        position: relative;
        cursor: default;
    }
}
